<div class="header-section">
  <header>
    <h1 class="font-semibold" routerLink="">ADIDAS</h1>

    <nav [ngClass]="{ showNav: showMenu }">
      <ul>
        <li (click)="showMenu = false">
          <a
            routerLinkActive="active"
            id="main"
            routerLink=""
            class="header-link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Home
          </a>
        </li>
        <li (click)="showMenu = false">
          <a routerLinkActive="active" routerLink="shop" class="header-link">
            Shop
          </a>
        </li>
        <li (click)="showMenu = false" *ngIf="isAuthenticated">
          <a routerLinkActive="active" class="header-link" routerLink="cart">
            Cart
          </a>
        </li>
        <li (click)="showMenu = false">
          <a
            routerLinkActive="active"
            class="header-link"
            (click)="goToCategories()"
          >
            Categories
          </a>
        </li>
        <li
          (click)="showMenu = false"
          routerLink="/auth"
          *ngIf="!isAuthenticated"
        >
          <a routerLinkActive="active" class="header-link"> Authenticate </a>
        </li>
        <li>
          <a class="close-toggel" (click)="closeMenu()"> Close </a>
        </li>
      </ul>
    </nav>
    <div>
      <div class="flex items-center justify-center">
        <div class="">
          <button
            *ngIf="isAuthenticated"
            (click)="signOut()"
            class="bg-black text-white text-base px-2 py-1 rounded-sm uppercase text-sm md:text-base"
          >
            Sign Out
          </button>
        </div>
        <fa-icon
          [icon]="faBars"
          class="bars text-xl"
          (click)="openMenu()"
        ></fa-icon>
      </div>
    </div>
  </header>
  <div class="discount">
    <p>WELCOME OFFER 15% OFF*. USE “WELCOMEADI” AT CHECKOUT.</p>
  </div>
</div>
