<div class="nav shadow-sm bg-slate-100">
  <div (click)="showMenu = true" class="bars">
    <fa-icon [icon]="faBars" class=""></fa-icon>
  </div>
  <h1 class="font-bold tracking-wider">LUCAS</h1>

  <ul [ngClass]="{ open: showMenu }" class="">
    <li (click)="showMenu = false" class="close-icon">
      <fa-icon [icon]="faClose" class=""></fa-icon>
    </li>
    <li
      class=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <a class="" routerLink="" (click)="showMenu = false">Home</a>
    </li>
    <li class="" routerLinkActive="active" (click)="showMenu = false">
      <a class="" routerLink="shop">Shop</a>
    </li>
    <li class="" routerLinkActive="active" (click)="showMenu = false">
      <a class="cursor-pointer">Categories</a>
    </li>
    <li class="" routerLinkActive="active" (click)="showMenu = false">
      <a class="" routerLink="cart">Cart</a>
    </li>
  </ul>

  <button
    (click)="signOut()"
    *ngIf="isAuthenticated"
    class="text-xl bg-black text-white px-2 py-1 rounded-lg"
  >
    <!-- <fa-icon [icon]="faArrowAltCircleRight"></fa-icon> -->
    Sign Out
  </button>

  <button
    (click)="logIn()"
    *ngIf="!isAuthenticated"
    class="text-lg bg-black text-white px-2 py-1 flex justify-center items-center rounded-lg pb-2"
  >
    <!-- <fa-icon [icon]="faUser"></fa-icon> -->
    Log in
  </button>
</div>
