.active {
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}
.logo {
  @apply font-extrabold uppercase cursor-pointer text-white text-[30px] tracking-widest font-serif;
}

.link-hover:hover .link-hover::before {
  width: 0;
  position: absolute;
}
.link-hover::before {
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  @apply bg-primary;
}
