<div class="search">
  <label for="search" class="block uppercase">Search For Item</label>
  <input
    type="text"
    id="search"
    [(ngModel)]="filteredProducts"
    class="w-3/12 h-8 mt-2 p-2 border-[1px] border-solid border-black rounded-md"
  />
  <hr class="my-3 bg-slate-400" />
</div>

<div class="flex flex-wrap justify-center items-center relative mx-[30px]">
  <app-spinner
    *ngIf="isFething && !error"
    class="flex justify-center items-center"
  ></app-spinner>

  <p class="flex justify-center items-center" *ngIf="error">
    Something Went Wrong
  </p>

  <app-product-item
    *ngFor="let product of data | filter: filteredProducts"
    [product]="product"
  ></app-product-item>
</div>
