.cart-item {
  @apply w-[730px] flex h-[245px] overflow-hidden border-[1px] border-solid border-black relative my-[10px];
}
.cart-item::before {
  content: "";
  @apply absolute top-0 right-0 w-0  h-full bg-gray-200 duration-700 z-[-1];
}
.cart-item:hover::before {
  @apply w-full;
}
.cart-item .cart-item-img {
  @apply w-[250px];
}

.cart-item-icon {
  @apply absolute top-0 right-0 m-[10px] text-[20px] cursor-pointer;
}
.cart-item-title {
  margin: 10px 0 10px 10px;
  text-align: start;
}
.product-name,
.product-price,
.product-quantity {
  @apply block my-[14px] mx-0;
}
.cart-item-title-quantity {
  margin: 10px 0 10px 10px;
  text-align: start;
}
.cart-item-btns {
  @apply relative top-0;
}
.cart-item-btns button {
  @apply bg-black cursor-pointer text-white rounded-md text-[20px] p-[5px] w-[300px] text-center block m-[10px];
}
.cart-item-btns button:hover {
  color: rgb(168, 167, 167);
}
@media (max-width: 991px) {
  .cart-item {
    @apply w-full;
  }
}
@media (max-width: 780px) {
  .cart-item {
    @apply h-[150px];
  }
  .cart-item-btns button {
    @apply w-[150px];
  }
  .cart-item .cart-item-img {
    @apply w-[150px] object-contain;
  }
  .product-name,
  .product-price,
  .product-quantity,
  .product-total-price {
    @apply block mx-0 my-[3px];
  }
  .cart-item-title {
    margin: 3px 0 5px 10px;
  }
  .cart-item-title-quantity {
    margin: 3px 0 5px 10px;
  }

  .cart-item-btns {
    @apply relative m-0 flex;
  }
  .cart-item-btns button {
    margin: 0px 5px;
  }
}
@media (max-width: 468px) {
  .order-summary {
    @apply border-[1px] border-solid border-black mt-[10px];
  }
  .order-summary h1 {
    @apply text-[25px];
  }
  .cart-item {
    @apply h-[100px];
  }
  .cart-item .cart-item-img {
    @apply w-[100px] object-contain;
  }
  .cart-item-title,
  .cart-item-title-quantity {
    @apply text-[12px];
    margin: 0 0 0 5px;
  }

  .cart-item-btns {
    margin: 5px 0;
  }
  .cart-item-btns button {
    @apply w-[50px] text-[11px] h-[25px];
  }
}
