.icon {
  background-color: rgb(185, 185, 185);
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 17px;
  border-radius: 3px;
  padding: 5px;
}
.added {
  animation: productAdded 0.7s ease forwards;
}
@keyframes productAdded {
  0% {
    left: 60px;
    opacity: 0;
  }
  50% {
    opacity: 1;
    left: -20px;
  }
  100% {
    opacity: 0;
    left: 60px;
  }
}
