<div
  class="mt-5 mx-5 border-solid border-black flex items-center justify-center flex-col w-80 bg-main rounded-md p-5"
>
  <img [src]="product.imagePath" [alt]="product.name" class="w-40 rounded-sm" />
  <p>This Item Has The Id : {{ product.id }}</p>
  <p>This Item Has The name : {{ product.name }}</p>
  <p>This Item Has The price : {{ product.price }}</p>
  <div class="flex">
    <button
      (click)="onAddToCart()"
      class="bg-slate-900 p-2 rounded-md text-white mt-2"
    >
      Add To Cart <fa-icon [icon]="faAdd"></fa-icon>
    </button>
    <button
      class="bg-slate-900 p-2 rounded-md text-white mt-2 mx-1"
      (click)="toDetailsPage()"
    >
      Details <fa-icon [icon]="faFilm"></fa-icon>
    </button>
  </div>
</div>
