<div class="product-details">
  <img [src]="productData.imagePath" class="max-w-[300px]" />
  <div class="product-details-content">
    <h1 class="product-details-title">{{ productData.name }}</h1>
    <span class="product-details-price"
      >Price : {{ productData.price }} EGP</span
    >
    <p class="product-details-description">{{ productData.description }}</p>

    <button (click)="onAddToCart()">ADD TO CART</button>
    <span
      *ngIf="isAdded"
      [ngClass]="{ added: isAdded }"
      class="uppercase relative right-[70px]"
      >Added</span
    >
  </div>
</div>
