<div class="cart-components-height">
  <div class="cart-components-details">
    <h1 class="cart-com-title">YOUR BAG</h1>
    <span class="cart-com-total-amount">
      <strong>Total Quantity :</strong> {{ cartInfo.totalQuantity }}
    </span>
    <span class="cart-com-total-price">
      <strong>Total Price :</strong> {{ cartInfo.totalPrice }}$
    </span>
  </div>
  <div class="cart-components">
    <div class="items-section">
      <p id="no-items-found" *ngIf="!cartItems.length">NO ITEMS FOUND</p>
      <div *ngIf="cartItems.length">
        <app-cart-item
          *ngFor="let item of cartItems"
          [item]="item"
        ></app-cart-item>
      </div>
    </div>
    <div class="order-section">
      <button
        (click)="onCheckOut()"
        class="check-out"
        [disabled]="!cartItems.length"
      >
        CHECK OUT
      </button>
      <div class="order-summary">
        <h1>Order Summary</h1>
        <div class="total-items">
          <span>
            <strong>
              {{ cartItems.length > 1 ? " ITEMS" : "ITEM" }}
            </strong>
          </span>
          <span>{{ cartItems.length }} </span>
        </div>
        <div class="total-price">
          <span>
            <strong>Total Amount</strong>
          </span>
          <span>{{ cartInfo.totalQuantity }}</span>
        </div>
        <div class="total-price">
          <span>
            <strong>Total Price</strong>
          </span>
          <span>{{ cartInfo.totalPrice }}$</span>
        </div>
        <button
          class="cancel"
          (click)="onReset()"
          [disabled]="!cartItems.length"
        >
          CANCEL
        </button>
      </div>
    </div>
  </div>
</div>
