<div class="flex mt-10">
  <div
    class="flex justify-center items-center flex-wrap mx-5 w-[1200px]"
    *ngIf="cartItems.length"
  >
    <app-cart-item *ngFor="let item of cartItems" [item]="item"></app-cart-item>
  </div>
  <div
    class="flex justify-center items-center w-[1200px] flex-col text-center"
    *ngIf="!cartItems.length"
  >
    <p class="mb-5">NO ITEMS YET</p>
    <button
      (click)="onGoToShopPage()"
      class="bg-slate-600 text-white p-2 rounded-md w-fit"
    >
      GO TO SHOPPING
    </button>
  </div>
  <div
    class="flex justify-center items-center bg-slate-600 text-white flex-col p-5 rounded-lg"
  >
    <p>TOTAL ITEMS : {{ cartInfo.totalItems }}</p>
    <p>TOTAL QUANTITY : {{ cartInfo.totalQuantity }}</p>
    <p>TOTAL PRICE : {{ cartInfo.totalPrice }} $</p>
  </div>
</div>
