<app-alert
  [message]="'Are You Sure That You Want To Delete?'"
  *ngIf="showAlert"
></app-alert>
<app-alert-message
  *ngIf="showCongratulationMsg"
  [message]="'Thanks For Your Order ❤️'"
  (closeAlert)="showCongratulationMsg = false"
></app-alert-message>
<app-alert-message
  [message]="message"
  *ngIf="showAlertMessage"
  (closeAlert)="onCloseAlertMessage()"
></app-alert-message>
<div class="cart-components-height">
  <div class="cart-components-details">
    <h1 class="cart-com-title uppercase">Your Bag</h1>
    <span class="cart-com-total-amount">
      Total Quantity : {{ cartInfo.totalQuantity }}
    </span>
  </div>
  <div class="cart-components">
    <div class="items-section">
      <p id="no-items-found" *ngIf="!cartItems.length">NO ITEMS FOUND</p>
      <div *ngIf="cartItems.length">
        <app-cart-item
          *ngFor="let item of cartItems"
          [item]="item"
        ></app-cart-item>
      </div>
    </div>
    <div class="order-section">
      <button
        (click)="onCheckOut()"
        class="check-out"
        [disabled]="!cartItems.length"
      >
        CHECK OUT
      </button>
      <div class="order-summary">
        <h1>Order Summary</h1>
        <div class="total-items">
          <span>
            <strong>
              {{ cartItems.length > 1 ? " ITEMS" : "ITEM" }}
            </strong>
          </span>
          <span>{{ cartItems.length }} </span>
        </div>
        <div class="total-price">
          <span>
            <strong>Total Quantity</strong>
          </span>
          <span>{{ cartInfo.totalQuantity }}</span>
        </div>
        <div class="total-price">
          <span>
            <strong>{{ isHasASale ? "Before Sale" : "Amount" }}</strong>
          </span>
          <span>{{ cartInfo.totalPrice | fixed }} EGP</span>
        </div>
        <div class="total-price" *ngIf="isHasASale">
          <span>
            <strong>After Sale</strong>
          </span>
          <span>{{ cartInfo.totalPrice.toString() | sale | fixed }} EGP</span>
        </div>
        <button
          class="cancel"
          (click)="onReset()"
          [disabled]="!cartItems.length"
        >
          CANCEL
        </button>
      </div>
      <form class="mt-2" (ngSubmit)="onSubmit()" #couponForm="ngForm">
        <button class="bg-black text-white py-[9px] px-2 w-[33.5%] mr-1">
          Coupon
        </button>
        <input
          ngModel
          required
          minlength="10"
          name="coupon"
          type="text"
          class="w-[64%] mb-[30px] border-black border-[1px] py-2 px-2 box-border"
        />
      </form>

      <span *ngIf="isAValidCoupon" class="w-full p-3 relative top-2"
        >Please Enter a Valid Coupon</span
      >
    </div>
  </div>
</div>
