<div class="home">
  <div class="home-title">
    <span>ADIDAS</span>
    <p>IVY PARK STAN SUMMER</p>
    <a
      routerLink="/shop"
      class="bg-white text-black px-2 py-1 relative top-[10px]"
    >
      SHOP NOW</a
    >
  </div>
</div>

<div class="products-types-container">
  <h1 class="uppercase tracking-wider cursor-pointer">Categories</h1>
  <div class="products-types">
    <div class="box">
      <img
        src="https://st-adidas-egy.mncdn.com/content/uploads/homepage/desktop-shoes-category-0920.jpg"
      />
      <a
        class="cursor-pointer tracking-wider"
        routerLink="shop"
        [queryParams]="{ ARs: 'shoes' }"
        >SHOES</a
      >
    </div>
    <div class="box">
      <img
        src="https://st-adidas-egy.mncdn.com/content/uploads/homepage/desktop-cloth-category-0920.jpg"
      />
      <a
        routerLink="shop"
        [queryParams]="{ ARs: 'clothes' }"
        class="cursor-pointer tracking-wider"
        >CLOTHING</a
      >
    </div>
    <div class="box">
      <img
        src="https://st-adidas-egy.mncdn.com/content/uploads/homepage/egy_mobile_categories/category_desktop_accessories.jpg"
      />
      <a
        routerLink="shop"
        [queryParams]="{ ARs: 'accessories' }"
        class="cursor-pointer tracking-wider"
        >ACCESSORIES</a
      >
    </div>
    <div class="box">
      <img
        src="https://st-adidas-egy.mncdn.com/content/uploads/homepage/egy_mobile_categories/category_desktop_Best_Sellers.jpg"
      />

      <a routerLink="shop" class="cursor-pointer tracking-wider"
        >BEST SELLERS</a
      >
      <!--[queryParams]="{ shoes: 1 }" -->
    </div>
  </div>
</div>
